<div class="card">
    <div class="card-header">
      <h2>Details from Employees Component</h2>
      <h2 class="card-title">Employees</h2>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let employee of employees">{{ employee }}</li>
      </ul>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-header">
      <h2 class="card-title">Departments</h2>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let department of departments">{{ department }}</li>
      </ul>
    </div>
  </div>
  